
body {
    background-color: rgba(235, 248, 255, 1);
    background-image: url('bg-gradiant.svg');
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Inter';
}

h1{
    font-size: 60px;
    font-weight: 600;
    
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}

h4{
    font-size: medium;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 150px;
}

.about-content{
    margin-top: 120px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.primarytitle {
    color: rgba(0, 130, 209, 1); font-weight: 600;
    margin-bottom: 20px;
}
.secondarytitle{
    color: #002B34; font-weight: 600;
    margin-bottom: 20px;
}

.hometext {
    font-family: 'Inter'; font-size: 25px; color: rgba(0, 43, 52, 1);
    margin-top: 40px;
    margin-bottom: 40px;
}

.entirepage {
    height: 100vh;
    position: relative;
}

.mainbutton {
    font-family: 'Inter'; font-size: 30px;
    border: none;
    padding: 25px 50px;
    background-color: rgba(0, 26, 66, 1);
    color: rgba(206, 237, 255, 1);
    border-radius: 100px;
    margin-top: 40px;
    cursor: pointer;
}

/* form page */
.container {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 30px;
}

