<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zebrate - About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/z_logo(orange).png">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="content">
        <div class="navbar">
            <div class="navbarlogo">
                <a href="/">
                    <img src="/static/images/zebrate_logo(orange).png" alt="Zebrate" style="cursor: pointer;">
                </a>
            </div>
            <div class="contentsearchbox searchboxsmall">
                <form action="/discover" method="get">
                    <input type="text" id="inputbox" name="query" placeholder="Search locations..." autocomplete="off" style="width: 180px; height: 60%;">
                    <button type="submit" style="font-size: 13px; height: 43px;">Search</button>
                </form>
            </div>
            <div class="navbarbtn">
                <a href="/discover">Discover</a>
                <!--<a href="/static/review.html">Review</a>-->
                {% if user %}
                    <a href="/logout">Log out</a>
                    <a class="button" href="/welcome">My account</a>
                {% else %}
                    <a href="/static/signup.html">Sign up</a>
                    <a class="button" href="/login">Log in</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div  class="content homecontent contactabout">
        
        <p> <span style="font-size: 50px; font-weight: 500;">About us</span><br><br>
            We are a team of four Health Informatics B.Sc. students from Technische Hochschule Deggendorf (THD). <br><br> 
            Our vision is to help autistic children feel more comfortable and less stressed in a world that is designed for the neurotypical mind. <br><br>
            We aim to achieve this by helping parents and caregivers of autistic children in Rottal-Inn, find social entertainment venues, suited to their child’s specific needs and requirements.
        </p>
        
    </div>

    <div class="footer">
        <div class="mainfooter">
            <a href="/">
                <img src="/static/images/zebrate_logo(orange).png" alt="Zebrate" style="cursor: pointer;">
            </a>
            <div style="margin-top: 40px; margin-bottom: 0;">
                <a href="/discover">Discover</a>
                <a href="/contactus">Contact Us</a>
                <a href="/aboutus">About Us</a>
                {% if user %}
                <a href="/welcome">Account</a>
                {% else %}
                <a href="/login">Account</a>
                {% endif %}
            </div>
        </div>
        <div>
            <p class="rights">Zebrate 2024 - All rights reserved</p>
        </div>
    </div>
    
</body>
</html>
