<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=device-width, initial-scale=1.0">
    <title>Zebrate - Discover</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/z_logo(orange).png">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/styles-discover.css">
    <script src="/static/filter-search.js"></script>
    
    <style>
        /* Add data-filter attributes to filter buttons */
        .filterbtn[data-filter] { cursor: pointer; }
    </style>
</head>
<body onload="initializeFilters()">
    <div class="content">
        <div class="navbar">
            <div class="navbarlogo">
                <a href="/">
                    <img src="/static/images/zebrate_logo(orange).png" alt="Zebrate" style="cursor: pointer;">
                </a>
            </div>
            <div class="navbarbtn">
                <a href="/discover">Discover</a>
                <!--<a href="/static/review.html">Review</a>-->
                {% if user %}
                    <a href="/logout">Log out</a>
                    <a class="button" href="/welcome">My account</a>
                {% else %}
                    <a href="/static/signup.html">Sign up</a>
                    <a class="button" href="/login">Log in</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="contentsearchbox searchboxbig search-container" style="margin-top: 10px; display: none;">
        <form id="filterForm" onsubmit="applyFilters()">
            <input type="text" id="search-query" value="{{ query }}" placeholder="Search locations..." autocomplete="off" style="width: 470px;">
            <!-- Hidden input to hold selected filters -->
            <input type="hidden" id="filters" name="filters" value="">
            <button type="submit" style="font-size: 16px;">Search</button>
        </form>
    </div>
    <div class="contentsearchbox searchboxbig" style="margin-top: 10px;">
        <form action="/discover" method="get">
            <input type="text" id="inputbox" name="query" placeholder="Search locations..." autocomplete="off" style="width: 470px;">
            <button type="submit" style="font-size: 16px;">Search</button>
        </form>
    </div>


    <div class="discovercontent">
        <h1 id="resultsText" class="res-heading" style="display: none;">Showing results for "<span id="queryPlaceholder"></span>"</h1> <!-- Dynamic search term display -->
        <div class="discoverven maingrid">
            <div style="width: 320px;">
                <div class="border filters-container" style="padding: 10px 30px 50px 30px; border-radius: 20px;">
                    <h1 class="res-heading">Filters</h1>
                    <h2 class="head2">Select any requirements for your best experience</h2>
                    <!--button type="button" onclick="resetFilters()" style="margin-left: 10px; font-size: 16px;">Reset Filters</button-->
                    <div style="margin-top: 30px;">
                        <!--h3 class="filterlabel">Venue must be:</h3>
                        <div class="filtergroup">
                            <div class="filterbtn unselected" data-filter="crowdedness" onclick="toggleFilter(this, 'crowdedness')">Uncrowded</div>
                            <div class="filterbtn unselected" data-filter="quiet" onclick="toggleFilter(this, 'quiet')">Generally quiet</div>
                        </div> -->

                        <h3 class="filterlabel">Venue must have:</h3>
                        <div class="filtergroup">
                            <div class="filterbtn unselected" data-filter="quiet_zones" onclick="toggleFilter(this, 'quiet_zones')">Quiet areas</div>
                            <div class="filterbtn unselected" data-filter="playground" onclick="toggleFilter(this, 'playground')">Play area</div>
                            <div class="filterbtn unselected" data-filter="fenced" onclick="toggleFilter(this, 'fenced')">Fenced play area</div>
                            <div class="filterbtn unselected" data-filter="colors" onclick="toggleFilter(this, 'colors')">No flashy colors</div>
                            <div class="filterbtn unselected" data-filter="food_variey" onclick="toggleFilter(this, 'food_variey')">Food options</div>
                            <div class="filterbtn unselected" data-filter="smells" onclick="toggleFilter(this, 'smells')">No extreme smells</div>
                        </div>
                        <h3 class="filterlabel">Venue must allow:</h3>
                        <div class="filtergroup">
                            <div class="filterbtn unselected" data-filter="food_own" onclick="toggleFilter(this, 'food_own')">Bringing your own food</div>
                            <div class="filterbtn unselected" data-filter="defined_duration" onclick="toggleFilter(this, 'defined_duration')">Undefined stay duration</div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="filters" value="{{ filters }}">
            <div class="venuelist results-container" style="margin-top: -17px;">
                {% if venues %}
                <ol>
                    {% for venue in venues %}
                    <li class="listedvenue border" style="list-style:none; margin-bottom: 20px;">
                        <div style="margin-top: -20px;">
                            <h2 class="listtitle" style="margin-left: -12px;">
                                <a href="/venue/{{ venue.id }}">{{ venue.name }}</a>
                            </h2>
                            <div class="maingrid">
                                <div>
                                    <div class="sparent2" style="margin-top: -15px;">
                                        <img class="same" style="height: 17px; width: 17px; margin-right: 5px;" src="/static/images/icons8-marker-100.png" alt="">
                                        <p class="same">{{ venue.address }}</p>
                                    </div>
                                    <img src="{{ venue.photo_url }}" alt="{{ venue.name }}" class="listimg same" style="margin-top: 20px;">
                                </div>
                                <div class="listrate">
                                    <!-- Crowd Rating -->
                                    <div class="sameparent" style=" display: flex; align-items: center; justify-content: space-between; width: 300px;">
                                        <p class="same">Crowd</p>
                                        <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                                            {% for i in range(5) %}
                                            <circle style="fill: 
                                                {% if i < venue.crowdedness %}
                                                    {% if venue.crowdedness <= 2 %}#429B80
                                                    {% elif venue.crowdedness == 3 %}#E4C23B
                                                    {% else %}#F77272
                                                    {% endif %}
                                                {% else %}#EDDEA4{% endif %}" 
                                            cx="{{ 8 + i * 15 }}" cy="10" r="5.5" class="circle" />
                                            {% endfor %}
                                        </svg>
                                    </div>
                                    <!-- Noise Rating -->
                                    <div class="sameparent" style="margin-top: -15px; display: flex; align-items: center; justify-content: space-between; width: 300px;">
                                        <p class="same">Noise</p>
                                        <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                                            {% for i in range(5) %}
                                            <circle style="fill: 
                                                {% if i < venue.quiet %}
                                                    {% if venue.quiet <= 2 %}#429B80
                                                    {% elif venue.quiet == 3 %}#E4C23B
                                                    {% else %}#F77272
                                                    {% endif %}
                                                {% else %}#EDDEA4{% endif %}" 
                                            cx="{{ 8 + i * 15 }}" cy="10" r="5.5" class="circle" />
                                            {% endfor %}
                                        </svg>
                                    </div>
                                    <!-- Yes/No Criteria -->
                                    {% if venue.food_variey >= 3 %}
                                    <p class="ratingyes">+ Broader variety of food</p>
                                    {% else %}
                                    <p class="ratingno">- Limited food variety</p>
                                    {% endif %}
                                
                                    {% if venue.food_own == 'YES' %}
                                    <p class="ratingyes">+ Bringing your own food allowed</p>
                                    {% else %}
                                    <p class="ratingno">- Bringing your own food not allowed</p>
                                    {% endif %}
                                
                                    {% if venue.defined_duration == 'NO' %}
                                    <p class="ratingyes">+ No defined time frame</p>
                                    {% endif %}
                                
                                    {% if venue.quiet_zones == 'YES' %}
                                    <p class="ratingyes"> + Quiet zones available</p>
                                    {% else %}
                                    <p class="ratingno">- No quiet zones available</p>
                                    {% endif %}
                                
                                    {% if venue.playground == 'YES' %}
                                    <p class="ratingyes"> + Play area available</p>
                                    {% endif %}
                                
                                    {% if venue.fenced == 'YES' %}
                                    <p class="ratingyes"> + Fenced play area</p>
                                    {% endif %}
                                
                                    {% if venue.colors <= 2 %}
                                    <p class="ratingyes"> + No flashy colors</p>
                                    {% else %}
                                    <p class="ratingno">- Flashy colors might be apparent</p>
                                    {% endif %}
                                
                                    {% if venue.smells <= 2 %}
                                    <p class="ratingyes"> + No extreme smells</p>
                                    {% else %}
                                    <p class="ratingno">- Extreme smells might be apparent</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
                {% else %}
                <div style="margin-right: 350px; margin-top: 40px;">
                    <p style="font-size: 20px;">No venues found matching your criteria.</p>
                </div>
                
                {% endif %}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="mainfooter">
            <a href="/">
                <img src="/static/images/zebrate_logo(orange).png" alt="Zebrate" style="cursor: pointer;">
            </a>
            <div style="margin-top: 40px; margin-bottom: 0;">
                <a href="/discover">Discover</a>
                <a href="/contactus">Contact Us</a>
                <a href="/aboutus">About Us</a>
                {% if user %}
                <a href="/welcome">Account</a>
                {% else %}
                <a href="/login">Account</a>
                {% endif %}
            </div>
        </div>
        <div>
            <p class="rights">Zebrate - All rights reserved</p>
        </div>
    </div>
</body>
</html>
