<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zebrate - My Reviews</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/z_logo(orange).png">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
        <div class="content">
            <div class="navbar">
                <div class="navbarlogo">
                    <a href="/">
                        <img src="/static/images/zebrate_logo(orange).png" alt="Zebrate" style="cursor: pointer;">
                    </a>
                </div>
                <div class="contentsearchbox searchboxsmall">
                    <form action="/discover" method="get">
                        <input type="text" id="inputbox" name="query" placeholder="Search locations..." autocomplete="off" style="width: 180px; height: 60%;">
                        <button type="submit" style="font-size: 13px; height: 43px;">Search</button>
                    </form>
                </div>
                <div class="navbarbtn">
                    <a href="/discover">Discover</a>
                    <a href="/logout">Log out</a>
                    <a class="button" href="/welcome">My account</a>
                </div>
            </div>
        </div>
    <main style="margin-top: 50px;">
        <div>
            <div class="title-container" style="margin-bottom: 70px;">
                <p class="title" style="margin: auto;">My reviews</p>
            </div>
        </div>
        {% if reviews|length == 0 %}
    <p style="text-align: center; margin-top: ;">No reviews yet. Be the first to write a review!</p>
{% else %}
    {% for review in reviews %}
                <div class="sameparent ratings" style="display: flex; align-items: center; justify-content: space-between; height: 330px; font-size: 20px; margin-bottom: 50px;">
                    <div class="same" style="width: 650px; margin-top: -30px;">
                        
                        <p style="width: 650px; color: #25433A; font-weight: 600;">{{ review.nickname }}</p><br>
                        <p style="color: rgba(37, 67, 58, 0.7); margin-top: -15px;">{{ review.review_title }}</p>
                        <div style="width: 600px; word-wrap: break-word;"><p style="font-size: 15px;">{{ review.review_text }}</p></div>
                    </div>
                    <div class="same" style="border-left: #25433A; font-size: 12.4px; margin-left: 60px;">
                        <div class="sameparent" style="display: flex; align-items: center; justify-content: space-between; width: 300px;">
                            <p class="same">Crowd</p>
                            <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                                {% for i in range(5) %}
                                    <circle style="fill: {{ '#429B80' if i < review.crowdedness else '#EDDEA4' }}" cx="{{ 8 + i * 15 }}" cy="10" r="5.5" class="circle" />
                                {% endfor %}
                            </svg>
                        </div>
                        <div class="sameparent" style="margin-top: -15px; display: flex; align-items: center; justify-content: space-between; width: 300px;">
                            <p class="same">Noise</p>
                            <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                                {% for i in range(5) %}
                                    <circle style="fill: {{ '#429B80' if i < review.quiet else '#EDDEA4' }}" cx="{{ 8 + i * 15 }}" cy="10" r="5.5" class="circle" />
                                {% endfor %}
                            </svg>
                        </div>
                        <!-- Yes/No Criteria -->
                        {% if review.food_variey >= 3 %}
                        <p class="ratingyes">+ Broader variety of food</p>
                        {% else %}
                        <p class="ratingno">- Limited food variety</p>
                        {% endif %}
                    
                        {% if review.food_own == 'YES' %}
                        <p class="ratingyes">+ Bringing your own food allowed</p>
                        {% else %}
                        <p class="ratingno">- Bringing your own food not allowed</p>
                        {% endif %}
                    
                        {% if review.defined_duration == 'NO' %}
                        <p class="ratingyes">+ No defined time frame</p>
                        {% endif %}
                    
                        {% if review.quiet_zones == 'YES' %}
                        <p class="ratingyes"> + Quiet zones available</p>
                        {% else %}
                        <p class="ratingno">- No quiet zones available</p>
                        {% endif %}
                    
                        {% if review.playground == 'YES' %}
                        <p class="ratingyes"> + Play area available</p>
                        {% endif %}
                    
                        {% if review.fenced == 'YES' %}
                        <p class="ratingyes"> + Fenced play area</p>
                        {% endif %}
                    
                        {% if review.colors <= 2 %}
                        <p class="ratingyes"> + No flashy colors</p>
                        {% else %}
                        <p class="ratingno">- Flashy colors might be apparent</p>
                        {% endif %}
                    
                        {% if review.smells <= 2 %}
                        <p class="ratingyes"> + No extreme smells</p>
                        {% else %}
                        <p class="ratingno">- Extreme smells might be apparent</p>
                        {% endif %}
                    </div>
                </div>
    {% endfor %}
    {% endif %}
        </div>
        </div>
        
    </main>
    <div class="footer">
        <div class="mainfooter">
            <a href="/">
                <img src="/static/images/zebrate_logo(orange).png" alt="Zebrate" style="cursor: pointer;">
            </a>
            <div style="margin-top: 40px; margin-bottom: 0;">
                <a href="/discover">Discover</a>
                <a href="/contactus">Contact Us</a>
                <a href="/aboutus">About Us</a>
                {% if user %}
                <a href="/welcome">Account</a>
                {% else %}
                <a href="/login">Account</a>
                {% endif %}
            </div>
        </div>
        <div>
            <p class="rights">Zebrate 2024 - All rights reserved</p>
        </div>
    </div>
</body>
</html>