
body {
    background-color: #F7F9F3;
    font-family: 'Outfit', sans-serif;
    margin-top: 50px;
    color: #25433A;
}

a {
    text-decoration: none;
    color: #25433A;
    padding: 15px;
}

button {
    background-color: #F7A072;
    color: #EBF8FF;
    padding: 15px 40px;
    border-radius: 100px;
    border: none;
    font-size: 15px;
    font-weight: 450;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
}

button:hover{
    background-color: #FFBB97;
}

input {
    padding: 5px 30px 5px 5px;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    border: none;
    margin-left: 10px;
    background-color: #F7F9F3;
    
}

.content {
    width: 1200px;
    margin: auto;
    height: 100px;
    overflow: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.navbarbtn a:hover {
    text-decoration: underline;
}
.navbarlogo img {
    max-height: 100px; /* Adjust as needed */
}

.contentsearchbox {
    border-style: solid;
    border-color: #25433A;
    border-radius: 100px;
    padding: 3px;
    width: 470px;
    border-width: 2px;
}

.searchboxbig {
    padding: 3px;
    margin: auto;
    margin-bottom: 150px;
    width: 650px;
    margin-top: 150px;

}

.searchboxsmall {
    width: 350px;
    height: 43px;
    margin-left: 20px;
}

.navbarbtn {
    display: flex;
    align-items: center;
}

.navbarbtn a {
    margin-left: 15px;
}

.button {
    background-color: #25433A;
    color: #EBF8FF;
    padding: 15px 40px;
    border-radius: 100px;
    font-size: 20px;
}

.button:hover {
    background-color: #429B80;
}

.homecontent {
    background-color: rgba(237, 222, 164, 0.5);
    height: 520px;
    border: 2px solid rgba(66, 155, 128, 0.1);
    border-radius: 40px;
    box-shadow: 0px 0px 20px 0px rgba(0, 26, 66, 0.1);
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 100px;
}

.contentbackground {
    background-image: url('/static/images/homepage_big_z.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.primarytitle {
    color: #25433A; 
    font-weight: 5000;
    margin-bottom: 20px;
    font-size: 60px;
}

.hometext {
    font-family: 'Outfit';
    font-size: 20px;
    color: rgba(0, 43, 52, 1);
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 40px;
}

/* Sign Up Page Styles */
.auth-container.signup-container {
    background-color: rgba(237, 222, 164, 0.5);
    border: 2px solid rgba(66, 155, 128, 0.1);
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 26, 66, 0.1);
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}

.auth-container.signup-container h1 {
    color: #25433A;
    font-weight: 5000;
    font-size: 40px;
    margin-bottom: 20px;
}

.auth-container.signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container.signup-container label {
    font-family: 'Outfit';
    font-size: 18px;
    color: rgba(0, 43, 52, 1);
    margin: 10px 0 5px;
}

.auth-container.signup-container input[type="text"],
.auth-container.signup-container input[type="password"],
.auth-container.signup-container input[type="email"]  {
    padding: 10px;
    font-size: 15px;
    font-family: "Outfit";
    border: 2px solid rgba(66, 155, 128, 0.1);
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.auth-container.signup-container button {
    background-color: #25433A;;
    color: #EBF8FF;
    border: none;
    font-weight: 590;
    font-family: "Outfit";
    cursor: pointer;
    margin-top: 10px;
    padding: 15px 40px;
    border-radius: 100px;
    font-size: 20px;
}

.auth-container.signup-container button:hover {
    background-color: #429B80;
}

.auth-links.signup-links {
    margin-top: 40px;
    margin-bottom: 30px;
}

.auth-links.signup-links a {
    color: #25433A;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
}

.auth-links.signup-links a:hover {
    text-decoration: underline;
}

/* Login Page Styles */
.auth-container.login-container {
    background-color: rgba(237, 222, 164, 0.5);
    border: 2px solid rgba(66, 155, 128, 0.1);
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 26, 66, 0.1);
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}

.auth-container.login-container h1 {
    color: #25433A;
    font-weight: 5000;
    font-size: 40px;
    margin-bottom: 20px;
}

.auth-container.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container.login-container label {
    font-family: 'Outfit';
    font-size: 18px;
    color: rgba(0, 43, 52, 1);
    margin: 10px 0 5px;
}

.auth-container.login-container input[type="text"],
.auth-container.login-container input[type="password"] {
    padding: 10px;
    font-size: 15px;
    font-family: "Outfit";
    border: 2px solid rgba(66, 155, 128, 0.3);
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.auth-container.login-container button {
    background-color: #25433A;;
    color: #EBF8FF;
    border: none;
    font-weight: 590;
    font-family: "Outfit";
    cursor: pointer;
    margin-top: 10px;
    padding: 15px 40px;
    border-radius: 100px;
    font-size: 20px;
}

.auth-container.login-container button:hover {
    background-color: #429B80;
}

.auth-links.login-links {
    margin-top: 40px;
    margin-bottom: 30px;
}

.auth-links.login-links a {
    color: #25433A;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
}

.auth-links.login-links a:hover {
    text-decoration: underline;
}

.same {
    color: #25433A;
    display:inline-block;
    box-sizing: border-box;
}

.sameparent {
    width: 1150px; 
    margin: auto; 
    overflow: auto;
    box-sizing: border-box;
}

.ratings {
    border: 1.5px solid rgba(37, 67, 58, 1);    
    border-radius: 20px;
    padding: 25px 45px;
    box-sizing: border-box;
}

#location {
    width: 650px; 
    height: 470px; 
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

#location img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
}

/* Style for the checkbox container */
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Hide the default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* Show a checkmark when the checkbox is checked */
  .checkbox-container input:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

  /* Change the background color when the checkbox is checked */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.ratingno {
    color: #F77272;
}

.ratingyes {
    color: #429B80;
}

.venue-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
    .venue-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-right: 15px;
        }
        .venue-details {
            flex-grow: 1;
        }

        .footer {
            margin-top: 200px;
            width: 100%;
            height: 190px;
            text-align: center;
        }
        
        .footerpic {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 16%;
        }
        
        .mainfooter {
            border-top: 1px solid rgba(37, 67, 58, 0.3);
            padding: 45px;
        }
        
        .rights {
            border-top: 1px solid rgba(37, 67, 58, 0.3);
            font-size: 15px;
            color: #25433A;
            padding-top: 20px;
        }

        select.inputboxname:focus {
            background-image:
            linear-gradient(45deg, #00A72F 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, #00A72F 50%),
            linear-gradient(to right, #00A72F, #00A72F);
            background-position:
            calc(100% - 15px) calc(1em + 6px),
            calc(100% - 20px) calc(1em + 6px),
            calc(100% - 3em) 0.85em;
            background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
            background-repeat: no-repeat;
            border-color: green;
            outline: 0;
        }
        
        select:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
        
        select:hover {
            box-shadow: rgba(0, 0, 0, 0);
        }
        
        .password-input {
            width: 100%;
            height: 100%;
            padding-right: 45px;
        }
        
        .password-input-box {
            display: flex;
            align-items: center;
            position: relative;
            height: 45px;
            width: 512px;
        }
        
        .password {
            flex: 1;
            background-color: #181818;
            border: solid 1.5px #585858;
            color: #D7D7D7;
            padding-left: 15px;
            border-radius: 10px;
            height: 45px;
            font-style: italic;
            width: 456px;
        }
        
        .fa-eye,
        .fa-eye-slash,
        .show-password {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #4f4f4f;
            cursor: pointer;
        }
        
        .password-checklist {
            top: calc(100% + 10px);
            width: 100%;
            padding: 10px 20px;
            margin-left: 2.5vw;
            margin-bottom: 5px;
            padding-bottom: 0;
        }
        
        .accepting {
            color: #b1b1b1;
            font-size: 0.6vw;
            margin-top: 10px;
            margin-left: 5vw;
        }
        
        .checklist-title {
            color: #828282;
            font-weight: 400;
            font-size: 0.8vw;
        }
        
        .checklist {
            list-style: none;
        }
        
        .list-item {
            color: #828282;
            font-size: 0.75vw;
            margin-left: 20px;
        }
        
        .list-item::before {
            content: '\f00d';
            font-family: FontAwesome;
            margin-right: 8px;
            margin-left: -20px;
            display: inline-block;
            font-size: 0.6vw;
        }
        
        .list-item.checked {
            opacity: 0.5;
        }
        
        .list-item.checked::before {
            content: '\f00c';
            font-family: FontAwesome;
            margin-right: 8px;
            margin-left: -20px;
            font-size: 0.6vw;
            color: #429B80;
        }

        .contactabout {
            margin-top: 100px; 
            padding-bottom: 40px; 
            padding-right: 100px; 
            padding-left: 100px; 
            width: 1000px; 
            font-size: 25px; 
            text-align: left;
        }

        .dashboardbutton button {
            background-color: #F1EBCB;
            color: #25433A;
            font-size: 20px;
            border-radius: 20px;
            width: 1200px;
            height: 100px;
            margin-bottom: 10px;
        }

        .dashboardbutton button:hover {
            background-color: #F7A072;
            color: #EBF8FF;
            font-size: 20px;
            border-radius: 20px;
            width: 1200px;
            height: 100px;
        }

        .dashboardbutton button:disabled {
            background-color: rgba(241, 235, 203, 0.3);
            cursor: not-allowed;
            color: rgba(37, 67, 58, 0.3);
        }
        .centering {
            width: 1200px;
            margin: auto;
        }

        /* settings page */
        
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .title-container {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 20px;
            position: relative;
        }
        
        
        .back-link {
            text-decoration: none;
            color: #25433A;
            position: absolute;
            left: 20px;
        }
        
        .title {
            font-size: 40px;
            font-weight: 500;
            color: #25433A;
            margin: 0 auto;
        }
        
        .account-container {
            max-width: 1000px;
            margin: 40px auto;
            padding: 40px;
            border: 1px solid #25433A;
            border-radius: 20px;
        }
        
        .account-details .detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .account-details .label {
            color: rgba(37, 67, 58, 1);
        }
        
        .account-details .value {
            color: rgba(37, 67, 58, 0.5);
        }
        

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.6);
    }

    .modal-content {
        background-color: #F8AB83;
        margin: 10% auto; /* 10% from the top and centered */
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        height: auto;
        border-radius: 20px;
        width: 80%; 
    }
    
    .close {
        color: #F7F9F3;
        float: right;
        font-size: 35px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #e3e6dd;
        text-decoration: none;
        cursor: pointer;
    } 

    .testb{
        border-style: solid;
        border-color: #25433A;
        border-width: 2px;
    }

    .reviewbox{
        padding-top: -10px;
        padding-bottom: -10px;
        padding-right:15px;
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-right: 2px solid rgba(66, 155, 128, 0.2);
        width: 65%;
    }

    .reviewtitle{
        margin-left: 0px;
        height: 50px;
        width: auto;
        border-radius: 5px;
        border: 2px solid rgba(66, 155, 128, 0.2);
        font-size: 20px;
        font-weight: 500;
        color: #25433A;
        padding: 5px;
    }
    .reviewtext{
        border-radius: 5px;
        width: auto;
        border: 2px solid rgba(66, 155, 128, 0.2);
        background-color: #F7F9F3;
        font-family: 'Outfit', sans-serif;
        color: #25433A;
        resize: none;
        padding: 5px;
        height: 300px;
        
    }

    .reviewtitle:focus{
        border: 2px solid #F7A072;
        outline: none;
    }
    .reviewtext:focus{
        border: 2px solid #F7A072;
        outline: none;
    }
    .reviewfilters{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 35%;
        padding-top: 25px;
        padding-left: 15px;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    .reviewcontent{
        border-radius: 10px;
        background-color: #F7F9F3;
    }

    .checklist {
        list-style-type: none;
        padding: 0;
    }
    
    .checklist li {
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .checklist input[type="checkbox"] {
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .checklist label {
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
    }

    .checklist input[type="checkbox"] {
        display: inline-block;
    }

    .rating-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .rating {
        display: flex;
        justify-content: center;
        
    }
    
    .rating input[type="radio"] {
        display: none;
    }
    
    .rating label {
        cursor: pointer;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        background-color: #EDDEA4;
        border: 0.5px solid rgba(37, 67, 58, 0.2);
        border-radius: 50%;
    }
    
    .rating label:hover{
        background-color: rgba(37, 67, 58, 0.2);
    }

    
    .rating-labels {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin-top: 10px;
    }
    
    .rating-labels span {
        text-align: center;
        flex-grow: 1;
        font-size: 12px;
    }

    .venue-form {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto; /* 10% from the top and centered */
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        height: auto;
        border-radius: 20px;
        width: 80%; 
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        gap: 20px;
    }
    
    label {
        display: block;
        margin-bottom: 8px;
        
        color: #333;
    }
    
    .inputnew:focus {
        border-color: #F7A072;
        outline: none;
    }
    
    .inputnew {
        width: auto;
        padding: 10px;
        font-size: 16px;
        background-color: #f9f9f9;
        transition: border-color 0.3s ease;
        height: 30px;
        border-radius: 5px;
        border: 2px solid rgba(66, 155, 128, 0.2);
        color: #25433A;
        padding: 5px;
    }

    .newreviewcontent {
        width: 70%;
        background-color: #f9f9f9;
    }

    #new-username-input, #new-email-input, #new-password-input{
        border-radius: 25px;
        border: none;
        width: 70%;
        height: 25px;
        padding: 10px;
        padding-left: 20px;
        margin-right: 10px;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    #save-username-btn, #save-email-btn, #save-password-btn{
        background-color: #429B80;
    }
