.res-heading {
    font-size: 30px;
    font-weight: 500;
    color: #25433A;
}
.discovercontent {
    width: 1200px;
    margin: auto;
    margin-top: -100px;
}
.border {
    border-style: solid;
    border-color: #25433A;
    border-width: 2px;
}
.maingrid {
    display: flex;
    justify-content: space-between;
}
.filterbox {
    width: 300px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    padding-bottom: 50px;
}
.venuelist {
    display: flex;
    flex-direction: column;
}
.head2 {
    font-size: 20px;
    font-weight: 500;
    color: #25433A;
}
.filterlabel {
    font-size: 15px;
    font-weight: 450;
    color: #25433A;
}
.discoverven {
    margin-top: 50px;
}
.filterbtn {
    font-size: 15px;
    font-weight: 450;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    display: inline-block;
    align-self: flex-start;
}
.unselected {
    border-style: solid;
    border-color: #429B80;
    border-width: 1px;
    color: #429B80;
}
.selected {
    color: #F7F9F3;
    background-color: #429B80;
}
.filtergroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.listtitle {
    font-size: 25px;
    font-weight: 650;
    color: #25433A;
    line-height: 0px;
}
.listedvenue {
    width: 800px;
    border-radius: 20px;
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -42px;
}
.listimg {
    width: 300px;
    height: 170px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 20px;
}
ul {
    list-style-type: none;
}
.sparent2 {
    margin: auto;
    overflow: auto;
    box-sizing: border-box;
}
.listrate {
    width: 250px;
    margin-right: 30px;
}
.listrate p {
    font-size: 12px;
}
