body {
    width: 1100px;
    color: #EBF8FF;
    font-family: 'Inter';
    vertical-align: middle;
}

.navbar {
    margin-left: 25px;
    margin-right: 25px;
}

.navbarlogo {
    float: left;
}

.navbarbtn {
    float: right;
}