<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zebrate - {{ venue.name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/z_logo(orange).png">
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        function handleCheckboxChange(option, choice) {
            var yesCheckbox = document.getElementById(option + '-yes');
            var noCheckbox = document.getElementById(option + '-no');

            if (choice === 'yes' && yesCheckbox.checked) {
                noCheckbox.checked = false;
            } else if (choice === 'no' && noCheckbox.checked) {
                yesCheckbox.checked = false;
            }
        }

        function changeRatingc(rating) {
    for (let i = 1; i <= 5; i++) {
        const starc = document.getElementById(`starc${i}`);
        if (i <= rating) {
            starc.previousElementSibling.style.backgroundColor = getColorByRating(rating);
        } else {
            starc.previousElementSibling.style.backgroundColor = '#EDDEA4';
        }
    }
}

function changeRatingn(rating) {
    for (let i = 1; i <= 5; i++) {
        const starn = document.getElementById(`starn${i}`);
        if (i <= rating) {
            starn.previousElementSibling.style.backgroundColor = getColorByRating(rating);
        } else {
            starn.previousElementSibling.style.backgroundColor = '#EDDEA4';
        }
    }
}

function getColorByRating(rating) {
    switch (rating) {
        case 1:
            return '#429B80';
        case 2:
            return '#429B80';
        case 3:
            return '#E4C23B';
        case 4:
            return '#F77272';
        case 5:
            return '#F77272';
        default:
            return '#EDDEA4';
    }
}

    </script>


</head>
<body>
    <div class="content">
        <div class="navbar">
            <div class="navbarlogo">
                <img src="/static/images/zebrate_logo(orange).png" alt="Zebrate">
            </div>
            <div class="contentsearchbox searchboxsmall">
                <input type="text" id="inputbox" placeholder="Search locations..." autocomplete="off" style="width: 180px; height: 60%;">
                <button style="font-size: 13px; height: 43px;">Search</button>
            </div>
            <div class="navbarbtn">
                <a href="/discover">Discover</a>
                <!--<a href="/static/review.html">Review</a>-->
                <a href="/static/signup.html">Sign up</a>
                <a class="button" href="/login">Log in</a>
            </div>
        </div>
    </div>

    <div class="sameparent" style="margin-bottom: -30px;">
        <p class="same" style="font-size: 50px; font-weight: 600;">{{ venue.name }}</p>
        <!-- Uncomment and use if you have review count -->
        <!-- <p class="same" style="font-size: 20px;">({{ venue.reviews_count }} Reviews)</p> -->
    </div>

    <div class="sameparent">
        <img class="same" style="height: 17px; width: 17px;" src="/static/images/icons8-marker-100.png" alt="">
        <p class="same" style="font-size: 15px; color: #25433A;">{{ venue.address }}</p>
    </div>

    <div style="margin-top: 40px; display: flex; align-items: center;" class="sameparent">
        <div class="same ratings" style="margin-right: 90px; height: 470px; width: 380px;">
            <p style="font-size: 30px; font-weight: 500; margin-top: 10px;">About</p>
                        <!-- Crowd Rating -->
                        <div class="sameparent" style="margin-top: -10px; display: flex; align-items: center; justify-content: space-between; width: 300px;">
                            <p class="same">Crowd</p>
                            <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                                {% for i in range(5) %}
                                    <circle style="fill: 
                                        {% if i < venue.crowdedness %}
                                            {% if venue.crowdedness <= 2 %}#429B80
                                            {% elif venue.crowdedness == 3 %}#E4C23B
                                            {% else %}#F77272
                                            {% endif %}
                                        {% else %}#EDDEA4{% endif %}" 
                                    cx="{{ 8 + i * 15 }}" cy="10" r="5.5" class="circle" />
                                {% endfor %}
                            </svg>
                        </div>
                        <!-- Noise Rating -->
                        <div class="sameparent" style="margin-top: -15px; display: flex; align-items: center; justify-content: space-between; width: 300px;">
                            <p class="same">Noise</p>
                            <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                                {% for i in range(5) %}
                                    <circle style="fill: 
                                        {% if i < venue.quiet %}
                                            {% if venue.quiet <= 2 %}#429B80
                                            {% elif venue.quiet == 3 %}#E4C23B
                                            {% else %}#F77272
                                            {% endif %}
                                        {% else %}#EDDEA4{% endif %}" 
                                    cx="{{ 8 + i * 15 }}" cy="10" r="5.5" class="circle" />
                                {% endfor %}
                            </svg>
                        </div>
            <!-- Yes/No Criteria -->
            {% if venue.food_variey >= 3 %}
            <p class="ratingyes">+ Broader variety of food</p>
            {% else %}
            <p class="ratingno">- Limited food variety</p>
            {% endif %}
        
            {% if venue.food_own == 'YES' %}
            <p class="ratingyes">+ Bringing your own food allowed</p>
            {% else %}
            <p class="ratingno">- Bringing your own food not allowed</p>
            {% endif %}
        
            {% if venue.defined_duration == 'NO' %}
            <p class="ratingyes">+ No defined time frame</p>
            {% endif %}
        
            {% if venue.quiet_zones == 'YES' %}
            <p class="ratingyes"> + Quiet zones available</p>
            {% else %}
            <p class="ratingno">- No quiet zones available</p>
            {% endif %}
        
            {% if venue.playground == 'YES' %}
            <p class="ratingyes"> + Play area available</p>
            {% endif %}
        
            {% if venue.fenced == 'YES' %}
            <p class="ratingyes"> + Fenced play area</p>
            {% endif %}
        
            {% if venue.colors <= 2 %}
            <p class="ratingyes"> + No flashy colors</p>
            {% else %}
            <p class="ratingno">- Flashy colors might be apparent</p>
            {% endif %}
        
            {% if venue.smells <= 2 %}
            <p class="ratingyes"> + No extreme smells</p>
            {% else %}
            <p class="ratingno">- Extreme smells might be apparent</p>
            {% endif %}


            <!-- Uncomment and use if you have a description field -->
            <!-- <p>{{ venue.description }}</p> -->
        </div>
        <div class="same">
            <div id="location">
                <!-- Display a default image if venue.image_url is missing -->
                <img src="{{ venue.photo_url }}" alt="{{ venue.name }}" style="border-radius: 20px;">
            </div>
        </div>
    </div>

    <div class="sameparent" style="display: flex; align-items: center; justify-content: space-between; margin-top: 70px; margin-bottom: 30px;">
        <p class="same" style="font-size: 40px; font-weight: 500;">Reviews <span class="same" style="font-size: 20px;">({{ venue.reviews_count }})</span></p>
        <button id="myBtn" class="same" style="color: #F7F9F3; font-size: 20px;"><img src="/static/images/pencil.png" alt="">&ensp;Write a review </button>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="font-size: 30px; font-weight: 600; color: #05241B; line-height: 10px;">{{ venue.name }}</p>
            <div class="reviewcontent" style="width: auto; display: flex; justify-content: space-between;">
                <div class="reviewbox">
                    <span style="font-size: 15px; font-weight: 500; color: #05241B; line-height: 0px;">Write a review:</span>
                    <form action="/add-review/" method="post" style="display: flex; flex-direction: column; margin-top: 10px; background-color: #F7F9F3; border-radius: 10px; padding: 5px;">
                        <input type="hidden" name="venue_id" value="{{ venue_id }}">
                        <input class="reviewtitle" name="review_title" type="text" placeholder="Title of your review">
                        <textarea class="reviewtext" name="review_text" placeholder="Write your review here..."></textarea>
                        <button type="submit" style="color: #F7F9F3; font-size: 15px; width: 220px; margin-top: 20px;">Submit review </button>
                    
                </div>
                <div class="reviewfilters" >
                    <div>
                        <span style="font-size: 15px; font-weight: 500; color: #05241B; line-height: 0px;">How crowded was the venue?</span>
                        <div class="rating-container">
                            <div class="rating" style="margin-top: 15px;">
                                <label for="starc1"></label>
                                <input type="radio" id="starc1" name="crowdedness" value="1" onclick="changeRatingc(1)">
                                
                                <label for="starc2"></label>
                                <input type="radio" id="starc2" name="crowdedness" value="2" onclick="changeRatingc(2)">
                                
                                <label for="starc3"></label>
                                <input type="radio" id="starc3" name="crowdedness" value="3" onclick="changeRatingc(3)">
                                
                                <label for="starc4"></label>
                                <input type="radio" id="starc4" name="crowdedness" value="4" onclick="changeRatingc(4)">
                                
                                <label for="starc5"></label>
                                <input type="radio" id="starc5" name="crowdedness" value="5" onclick="changeRatingc(5)">
                            </div>
                            <div class="rating-labels" style="margin-bottom: 15px;">
                                <span style="color: #429B80;">Very uncrowded</span>
                                <span> </span>
                                <span> </span>
                                <span> </span>
                                <span style="color: #F77272;">Very crowded</span>
                            </div>
                            
                        </div>
                        
                        <span style="font-size: 15px; font-weight: 500; color: #05241B; line-height: 0px;">How noisy was the venue?</span>
                        <div class="rating-container">
                            <div class="rating" style="margin-top: 15px;">
                                <label for="starn1"></label>
                                <input type="radio" id="starn1" name="quiet" value="1" onclick="changeRatingn(1)">
                                
                                <label for="starn2"></label>
                                <input type="radio" id="starn2" name="quiet" value="2" onclick="changeRatingn(2)">
                                
                                <label for="starn3"></label>
                                <input type="radio" id="starn3" name="quiet" value="3" onclick="changeRatingn(3)">
                                
                                <label for="starn4"></label>
                                <input type="radio" id="starn4" name="quiet" value="4" onclick="changeRatingn(4)">
                                
                                <label for="starn5"></label>
                                <input type="radio" id="starn5" name="quiet" value="5" onclick="changeRatingn(5)">
                            </div>
                            <div class="rating-labels" style="margin-bottom: 15px;">
                                <span style="color: #429B80;">Very quiet</span>
                                <span> </span>
                                <span> </span>
                                <span> </span>
                                <span style="color: #F77272;">Very noisy</span>
                            </div>
                            
                        </div>
                        <span style="font-size: 15px; font-weight: 500; color: #05241B; line-height: 0px;">Select all options that apply:</span>
                        <ul class="checklist">
                            <li>
                                <label>Quiet areas available:</label>
                                <input type="checkbox" id="option1-yes" name="quiet_zones" value="yes" onchange="handleCheckboxChange('option1', 'yes')">
                                <label for="option1-yes">Yes</label>
                                <input type="checkbox" id="option1-no" name="quiet_zones" value="no" onchange="handleCheckboxChange('option1', 'no')">
                                <label for="option1-no">No</label>
                            </li>
                            <li>
                                <label>Play area available:</label>
                                <input type="checkbox" id="option2-yes" name="playground" value="yes" onchange="handleCheckboxChange('option2', 'yes')">
                                <label for="option2-yes">Yes</label>
                                <input type="checkbox" id="option2-no" name="playground" value="no" onchange="handleCheckboxChange('option2', 'no')">
                                <label for="option2-no">No</label>
                            </li>
                            <li>
                                <label>Play area fenced/secure:</label>
                                <input type="checkbox" id="option3-yes" name="fenced" value="yes" onchange="handleCheckboxChange('option3', 'yes')">
                                <label for="option3-yes">Yes</label>
                                <input type="checkbox" id="option3-no" name="fenced" value="no" onchange="handleCheckboxChange('option3', 'no')">
                                <label for="option3-no">No</label>
                            </li>
                            <li>
                                <label>Bright/Flashy colors:</label>
                                <input type="checkbox" id="option4-yes" name="colors" value="5" onchange="handleCheckboxChange('option4', 'yes')">
                                <label for="option4-yes">Yes</label>
                                <input type="checkbox" id="option4-no" name="colors" value="1" onchange="handleCheckboxChange('option4', 'no')">
                                <label for="option4-no">No</label>
                            </li>
                            <li>
                                <label>Food options available:</label>
                                <input type="checkbox" id="option5-yes" name="food_variey" value="5" onchange="handleCheckboxChange('option5', 'yes')">
                                <label for="option5-yes">Yes</label>
                                <input type="checkbox" id="option5-no" name="food_variey" value="1" onchange="handleCheckboxChange('option5', 'no')">
                                <label for="option5-no">No</label>
                            </li>
                            <li>
                                <label>Heavy smells:</label>
                                <input type="checkbox" id="option6-yes" name="smells" value="5" onchange="handleCheckboxChange('option6', 'yes')">
                                <label for="option6-yes">Yes</label>
                                <input type="checkbox" id="option6-no" name="smells" value="1" onchange="handleCheckboxChange('option6', 'no')">
                                <label for="option6-no">No</label>
                            </li>
                            <li>
                                <label>Bringing your own food possible:</label>
                                <input type="checkbox" id="option7-yes" name="food_own" value="yes" onchange="handleCheckboxChange('option7', 'yes')">
                                <label for="option7-yes">Yes</label>
                                <input type="checkbox" id="option7-no" name="food_own" value="no" onchange="handleCheckboxChange('option7', 'no')">
                                <label for="option7-no">No</label>
                            </li>
                            <li>
                                <label>Extended stay duration possible:</label>
                                <input type="checkbox" id="option8-yes" name="defined_duration" value="yes" onchange="handleCheckboxChange('option8', 'yes')">
                                <label for="option8-yes">Yes</label>
                                <input type="checkbox" id="option8-no" name="defined_duration" value="no" onchange="handleCheckboxChange('option8', 'no')">
                                <label for="option8-no">No</label>
                            </li>
                        </ul>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="sameparent ratings" style="display: flex; align-items: center; justify-content: space-between; height: 330px; font-size: 20px; margin-bottom: 50px;">
        <div class="same" style="width: 650px; margin-top: -30px;">
            <p style="width: 650px; color: #25433A; font-weight: 600;">User123</p><br>
            <p style="color: rgba(37, 67, 58, 0.7); margin-top: -15px;">Title of review</p>
            <div style="width: 600px; word-wrap: break-word;"><p style="font-size: 15px;">content of reviewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p></div>
        </div>
        <div class="same" style="border-left: #25433A; font-size: 12.4px; margin-left: 60px;">
            <div class="sameparent" style="display: flex; align-items: center; justify-content: space-between; width: 300px;">
                <p class="same">Crowd</p>
                <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                    <circle style="fill: #429B80" cx="8" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #429B80" cx="23" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="38" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="53" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="68" cy="10" r="5.5" class="circle" />
                </svg>
            </div>
            <div class="sameparent" style="margin-top: -15px; display: flex; align-items: center; justify-content: space-between; width: 300px;">
                <p class="same">Noise</p>
                <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                    <circle style="fill: #E4C23B" cx="8" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #E4C23B" cx="23" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #E4C23B" cx="38" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="53" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="68" cy="10" r="5.5" class="circle" />
                </svg>
            </div>
            <p class="ratingno">- Bringing your own food not possible</p>
            <p class="ratingyes">+ Food options available</p>
            <p class="ratingyes">+ No stay duration limit</p>
            <p class="ratingyes">+ No extreme smells</p>
            <p class="ratingyes">- Flashy colors</p>
            <p class="ratingno">- No quiet zones</p>
            <p class="ratingno">- No play area</p>
        </div>
        <!--
        {% if venue.reviews_count > 0 %}
            <p>Reviews will be listed here</p>
        {% else %}
            <p>No Reviews Yet!</p>
        {% endif %}
        -->
    </div>

    <div class="footer">
        <div class="mainfooter">
            <img class="footerpic" src="/static/images/zebrate_logo(orange).png" alt="Zebrate">
            <div style="margin-top: 40px; margin-bottom: 0;">
                <a href="/discover">Discover</a>
                <!--<a href="/static/review.html">Review</a>-->
                <a href="/static/contactus.html">Contact Us</a>
                <a href="/static/aboutus.html">About Us</a>
                <a href="/login">Account</a>
            </div>
        </div>
        <div>
            <p class="rights">©Zebrate 2024 - All rights reserved</p>
        </div>
    </div>
        <script>
        // Ensure the script runs after the DOM is fully loaded
        document.addEventListener("DOMContentLoaded", function() {
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
    </script>
</body>
</html>