<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zebrate - {{ venue.name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/z_logo(orange).png">
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <div class="content">
        <div class="navbar">
            <div class="navbarlogo">
                <img src="/static/images/zebrate_logo(orange).png" alt="Zebrate">
            </div>
            <div class="contentsearchbox searchboxsmall">
                <input type="text" id="inputbox" placeholder="Search locations..." autocomplete="off" style="width: 180px; height: 60%;">
                <button style="font-size: 13px; height: 43px;">Search</button>
            </div>
            <div class="navbarbtn">
                <a href="/static/discover.html">Discover</a>
                <a href="/static/review.html">Review</a>
                <a href="/static/signup.html">Sign up</a>
                <a class="button" href="/login">Log in</a>
            </div>
        </div>
    </div>

    <div class="sameparent" style="margin-bottom: -30px;">
        <p class="same" style="font-size: 50px; font-weight: 600;">{{ venue.name }}</p>
        <!-- Uncomment and use if you have review count -->
        <!-- <p class="same" style="font-size: 20px;">({{ venue.reviews_count }} Reviews)</p> -->
    </div>

    <div class="sameparent">
        <img class="same" style="height: 17px; width: 17px;" src="/static/images/icons8-marker-100.png" alt="">
        <p class="same" style="font-size: 15px; color: #25433A;">{{ venue.address }}</p>
    </div>

    <div style="margin-top: 40px; display: flex; align-items: center;" class="sameparent">
        <div class="same ratings" style="margin-right: 90px; height: 470px; width: 380px;">
            <p style="font-size: 30px; font-weight: 500; margin-top: 10px;">About</p>
                        <!-- Crowd Rating -->
                        <div class="sameparent" style="margin-top: -10px; display: flex; align-items: center; justify-content: space-between; width: 300px;">
                            <p class="same">Crowd</p>
                            <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                                {% for i in range(5) %}
                                    <circle style="fill: 
                                        {% if i < venue.crowdedness %}
                                            {% if venue.crowdedness <= 2 %}#429B80
                                            {% elif venue.crowdedness == 3 %}#E4C23B
                                            {% else %}#F77272
                                            {% endif %}
                                        {% else %}#EDDEA4{% endif %}" 
                                    cx="{{ 8 + i * 15 }}" cy="10" r="5.5" class="circle" />
                                {% endfor %}
                            </svg>
                        </div>
                        <!-- Noise Rating -->
                        <div class="sameparent" style="margin-top: -15px; display: flex; align-items: center; justify-content: space-between; width: 300px;">
                            <p class="same">Noise</p>
                            <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                                {% for i in range(5) %}
                                    <circle style="fill: 
                                        {% if i < venue.quiet %}
                                            {% if venue.quiet <= 2 %}#429B80
                                            {% elif venue.quiet == 3 %}#E4C23B
                                            {% else %}#F77272
                                            {% endif %}
                                        {% else %}#EDDEA4{% endif %}" 
                                    cx="{{ 8 + i * 15 }}" cy="10" r="5.5" class="circle" />
                                {% endfor %}
                            </svg>
                        </div>
            <!-- Yes/No Criteria -->
            {% if venue.food_own == 'YES' %}
                <p class="ratingyes">+ Bringing your own food allowed</p>
            {% else %}
                <p class="ratingno">- Bringing your own food not allowed</p>
            {% endif %}

            {% if venue.food_variey == 'YES' %}
                <p class="ratingyes">+ Broader variety of food</p>
            {% endif %}

            {% if venue.defined_duration == 'NO' %}
                <p class="ratingyes">+ No defined time frame</p>
            {% endif %}

            {% if venue.quiet_zones == 'YES' %}
                <p class="ratingyes"> + Quiet zones available</p>
            {% endif %}

            {% if venue.playground == 'YES' %}
                <p class="ratingyes">+ (fenced) Playground available</p>
            {% endif %}


            <!-- Uncomment and use if you have a description field -->
            <!-- <p>{{ venue.description }}</p> -->
        </div>
        <div class="same">
            <div id="location">
                <!-- Display a default image if venue.image_url is missing -->
                <img src="{{ venue.photo_url }}" alt="{{ venue.name }}" style="border-radius: 20px;">
            </div>
        </div>
    </div>

    <div class="sameparent" style="display: flex; align-items: center; justify-content: space-between; margin-top: 70px; margin-bottom: 30px;">
        <!-- Uncomment and use if you have review count -->
        <p class="same" style="font-size: 40px; font-weight: 500;">Reviews <span class="same" style="font-size: 20px;">({{ venue.reviews_count }})</span></p>
        <button class="same" style="color: #F7F9F3; font-size: 20px;"><img src="/static/images/pencil.png" alt="">&ensp;Write a review </button>
    </div>
    
    <div class="sameparent ratings" style="display: flex; align-items: center; justify-content: space-between; height: 330px; font-size: 20px; margin-bottom: 50px;">
        <div class="same" style="width: 650px; margin-top: -30px;">
            <p style="width: 650px; color: #25433A; font-weight: 600;">User123</p><br>
            <p style="color: rgba(37, 67, 58, 0.7); margin-top: -15px;">Title of review</p>
            <div style="width: 600px; word-wrap: break-word;"><p style="font-size: 15px;">content of reviewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p></div>
        </div>
        <div class="same" style="border-left: #25433A; font-size: 12.4px; margin-left: 60px;">
            <div class="sameparent" style="display: flex; align-items: center; justify-content: space-between; width: 300px;">
                <p class="same">Crowd</p>
                <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                    <circle style="fill: #429B80" cx="8" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #429B80" cx="23" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="38" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="53" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="68" cy="10" r="5.5" class="circle" />
                </svg>
            </div>
            <div class="sameparent" style="margin-top: -15px; display: flex; align-items: center; justify-content: space-between; width: 300px;">
                <p class="same">Noise</p>
                <svg class="same" width="100" height="20" xmlns="http://www.w3.org/2000/svg">
                    <circle style="fill: #E4C23B" cx="8" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #E4C23B" cx="23" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #E4C23B" cx="38" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="53" cy="10" r="5.5" class="circle" />
                    <circle style="fill: #EDDEA4" cx="68" cy="10" r="5.5" class="circle" />
                </svg>
            </div>
            <p class="ratingno">- Bringing your own food not possible</p>
            <p class="ratingyes">+ Food options available</p>
            <p class="ratingyes">+ No stay duration limit</p>
            <p class="ratingyes">+ No extreme smells</p>
            <p class="ratingyes">- Flashy colors</p>
            <p class="ratingno">- No quiet zones</p>
            <p class="ratingno">- No play area</p>
        </div>
        <!--
        {% if venue.reviews_count > 0 %}
            <p>Reviews will be listed here</p>
        {% else %}
            <p>No Reviews Yet!</p>
        {% endif %}
        -->
    </div>

    <div class="footer">
        <div class="mainfooter">
            <img class="footerpic" src="/static/images/zebrate_logo(orange).png" alt="Zebrate">
            <div style="margin-top: 40px; margin-bottom: 0;">
                <a href="/static/discover.html">Discover</a>
                <a href="/static/review.html">Review</a>
                <a href="/static/contactus.html">Contact Us</a>
                <a href="/static/aboutus.html">About Us</a>
                <a href="/login">Account</a>
            </div>
        </div>
        <div>
            <p class="rights">©Zebrate 2024 - All rights reserved</p>
        </div>
    </div>
</body>
</html>
